body{
	font-family: Raleway;
	color: white;
	background-color: #990000;
	margin: 0;
	padding: 0;
}

h1{
	font-size: 400%;
	font-weight: bold;
	text-shadow: 4px 2px black;
	line-height: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
}

h2{
	font-size: 190%;
	font-weight: normal;
	text-shadow: 1px 1px black;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.circle{
	text-align:center;
	font-size:25px;
	line-height:150px;
	width:150px;
	height:150px;
	border-radius:50%;
	background-color:black;
	color:white;
	cursor:pointer;
}

.center{
	left: 50.00%;
	margin-left: -75px;
}

.left{
	left: 33.333%;
	margin-left: -75px;
}

.right{
	left: 66.667%%;
	margin-left: -75px;
}

.farright{
	left: 100%;
	margin-left: -75px;
}

.farleft{
	left: 0%;
	margin-left: -75px;
}

.selected{
	color:#990000;
	font-weight: bold;
	font-size:30px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	margin-left: -2.5px;
}

.choice{
	font-size:18px;
	color: #990000;
	line-height:80px;
	width:80px;
	height:80px;
	background-color:white;
	margin:auto;
}

#row div {
-webkit-transition: left 0.5s ease, margin 0.5s ease, right 0.5s ease, border-width 0.5s ease;
-moz-transition: left 0.5s ease, margin 0.5s ease, right 0.5s ease, border-width 0.5s ease;
-o-transition: left 0.5s ease, margin 0.5s ease, right 0.5s ease, border-width 0.5s ease;
transition: left 0.5s ease, margin 0.5s ease, right 0.5s ease, border-width 0.5s ease;
}

body { overflow-x: hidden;}

ul li {
		display: inline-block;
		position: relative;
		padding: 6px 16px;
		background: black;
		cursor: pointer;
		color: white;
}

ul li ul {
	padding: 0;
	position: absolute;
	top: 100%;
	left:-2px;
	display: none;
	border: 2px solid white;
	width: 111px;
	border-bottom-radius:.2em;
}

ul li ul li { 
	background: none;
	display: block;
	padding: 5px 15px;
	font-size: 12.5px;
}

ul li ul li:hover {
	color:#990000;;
	font-weight: bold;
	background:white;}

ul li:hover ul {
		display: block;}


/*
	interactive flow diagram
 */

#qTable td {
	padding:3px 1em;
	font-family:"Segoe UI";
	/*margin-left: 50px;*/
}

#qTable {
	width:100%; 
	border-spacing: 0.5em;
}

#qTable li {
	cursor:pointer
}

#qTable li:hover { 
	text-decoration:underline
} 

#qTable tr:nth-child(n+2) {
	display:none
}

#qTable p {
	font-weight:bold; 
	line-height:50%
}

#errdiv {
	display:none; 
	font-weight:bold; 
	color:#903; 
	padding:0.3em
} 

.selectedAnswer {
	font-weight:bold; 
	color:#060
} 

i {
	display:none
} 


#map-canvas {
		float: right;
        height: 400px;
        width: 50%; 
        margin: 20px;
        padding: 20px;
    

}
#address, #ew, #ugh {
	font-family: Raleway;
	float: right;
	margin:20px;
	padding: 20px;
	border-radius: 10px;
	background-color: black;

}
