body{
	font-family: Raleway;
	background-color: white;
	margin: 0;
	padding: 0;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	color: #FFB84D;
}

#header{
	padding-top: .5%;
	padding-bottom: .5%;
	margin-bottom: 2%;
	background-color: #0d0d0c;
	text-align:center;
	border-bottom:5px solid #e7e9ea;
	box-shadow: 0 2px 2px #888888;
}

h1{
	font-family: 'Raleway';
	font-size: 300%;
	font-weight: lighter;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2{

	font-size: 200%;
	font-weight: lighter;
	/*color: #000066;*/
	color:white;
}

/*
h2{
	font-size: 190%;
	font-weight: lighter;
	color: #000066;
	text-shadow: -1px -1px #888888;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
*/

.title{
	font-size: 150%;
	color: #0d0d0c;
	line-height: 150%;
	font-weight: normal;
}
.circle{
	text-align:center;
	font-size:20px;
	font-weight: lighter;
	line-height:150px;
	width:150px;
	height:150px;
	cursor:pointer;
	padding: 0;
	border-radius: .3em;
}

.center{
	left: 50.00%;
	margin-left: -75px;
}

.left{
	left: 33.333%;
	margin-left: -75px;
}

.right{
	left: 66.667%%;
	margin-left: -75px;
}

.farright{
	left: 100%;
	margin-left: -75px;
}

.farleft{
	left: 0%;
	margin-left: -75px;
}

.selected{
	color:#990000;
	font-weight: bold;
	font-size:30px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	margin-left: -2.5px;
}

.choice{
	font-size:18px;
	color: #990000;
	line-height:80px;
	width:80px;
	height:80px;
	background-color:white;
	margin:auto;
}


body { overflow-x: hidden;}

#near{
	padding: 0;
}

ul li {
	display: inline-block;
	position: relative;
	padding: 6px 16px;
	background: black;
	cursor: pointer;
	color: white;
}

ul li ul {
	padding: 0;
	position: absolute;
	top: 100%;
	left:-2px;
	display: none;
	border: 2px solid white;
	width: 111px;
	border-bottom-radius:.2em;
}

ul li ul li {
	background: none;
	display: block;
	padding: 5px 15px;
	font-size: 12.5px;
}

ul li ul li:hover {
	color:#990000;;
	font-weight: bold;
	background:white;}

ul li:hover ul {
		display: block;}


/*
	interactive flow diagram
 */

table {
    table-layout: fixed;
}

#qTable td {
	font-family:"Raleway";
	/*margin-left: 50px;*/
}

#qTable {
	width:70%; 
	border-spacing: 0.5em;
	margin: auto auto;
}

#qTable li {
	cursor:pointer;
	margin: 5px;
	float: center;
}

#qTable li:hover { 
	font-weight: normal;
	color: #FFB84D;
} 

#qTable tr:nth-child(n+2) {
	display:none
}

#qTable p {
	font-weight:bold; 
	line-height:50%
}

#errdiv {
	display:none; 
	font-weight:bold; 
	color:#903; 
	padding:0.3em
} 

.selectedAnswer {
	font-weight:normal;
	color:#FFB84D;
	border:.3em solid #e7e9ea;
	/*box-shadow: 0px 0px 10px #444444;*/
} 

i {
	display:none
} 


#address {
	/*height: 30%;
	width: 30%;*/
	font-family: Raleway;
	font-size: 150%;
	background-color: #e7e9ea;
	/*display: inline-block;*/
	float: none;
	margin: 0 0 10px 0;
	padding: 5px;

}





/*#sidebar{
	width: 200px;
	background-color:#e7e9ea;
	font-weight:normal;
	font-size: 20px;
	color:black;
	/*text-align:center;
}*/

#sidebar{
	color: white;
	text-align:center;
	line-height: 50px;
	font-weight: lighter;
	display: none;
}

#sidebar div, #sidebar p{
	background-color: black;
	margin: 5px 0 5px 0;
	font-size: 20px;
}

#sidebar #buttons{
	font-family: Raleway;
	font-size: 20px;
	margin: 20px;
	padding: 5px;
	background-color: #e7e9ea;
	height: 50px;
	text-align: center;
	cursor: pointer;
	/*font-weight: normal;*/
	color: black;
	border: black;
	display: inline-block;
}

#refresh:hover, #next:hover{
	color: #FFB84D;
	/*font-weight: normal;*/
}

#map-canvas {
    height: 400px;
	overflow: hidden;

    }

/*
.sideitem{
	font-weight: lighter;
	line-height:150px;
	height: 150px;
	padding: 0;
	margin: 0;
	border-bottom:1px solid #FFB84D;
}*/
